{% extends 'core/base.html' %}
{% load static %}
{% block title %}Verificación{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-flex" style="min-height: 190px;">
                            <div class="flex-grow-1 bg-password-image bg-gradient-primary" style="background: url(&quot;{% static 'core/img/logos/unach.png' %}&quot;) center / contain no-repeat;"></div>
                        </div>
                        <div class="col-lg-6">
                            <div class="p-5">
                                <a class="btn btn-link" role="button" style="margin-bottom: 12px;" href="{% url 'core:home' %}">
                                    <i class="fa fa-arrow-circle-left" style="margin-right: 10px;"></i>
                                    Volver
                                </a>
                                <div class="text-center">
                                    <h4 class="text-dark">Pase Seguro Unach</h4>
                                </div>
                                <div style="margin-top: 50px;"></div>
                                <form class="user" method="POST" enctype="multipart/form-data">
                                    <div class="form-group">
                                        <input class="form-control form-control-user" type="text"  placeholder="Ingresar id del permiso" autocomplete="off" name="rut" required="">
                                    </div>
                                    <hr style="margin-top: 50px;">
                                    <button class="btn btn-primary btn-block text-white btn-user" type="submit">Revisar</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}