<!DOCTYPE html>
<html>
<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <title>Permiso de {{ permission.antecedente_personal.nombre }} {{ permission.antecedente_personal.apellido }}</title>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <style>
        body {
            /* background-color: azure; */
        }
        table {
            border: 1px solid black;    
        }
        td {
            padding: 5px;
        }
        .center {
            text-align: center;
        }
        #footer {
            {% comment %} margin-top: 300px; {% endcomment %}
        }
    </style>

</head>
<body>
    {% load static %}

    <img src="/static/core/img/logos/unach2.png" height="200px">
    
    <table>
        <tbody>
            <tr>
                <td>RUT</td>
                <td>{{ permission.antecedente_personal.rut }}</td>
            </tr>
            <tr>
                <td>Nombres</td>
                <td>{{ permission.antecedente_personal.nombre }}</td>
            </tr>
            <tr>
                <td>Apellidos</td>
                <td>{{ permission.antecedente_personal.apellido }}</td>
            </tr>
            {% if permission.antecedente_personal.email %}
            <tr>
                <td>Correo</td>
                <td>{{ permission.antecedente_personal.email }}</td>
            </tr>
            {% endif %}
            {% if permission.antecedente_personal.telefono %}
            <tr>
                <td>Telefono</td>
                <td>{{ permission.antecedente_personal.telefono }}</td>
            </tr>
            {% endif %}
            {% comment %} <tr>
                <td>Facultad</td>
                <td>{{ permission.faculty }}</td>
            </tr>
            <tr>
                <td>Carrera</td>
                <td>{{ permission.career }}</td>
            </tr> 
            {% if permission.activity_description %}
            <tr>
                <td>Descripción</td>
                <td>{{ permission.activity_description }}</td>
            </tr>
            {% endif %}
            {% if permission.comments %}
            <tr>
                <td>Comentarios</td>
                <td>{{ permission.comments }}</td>
            </tr>
            {% endif %}
            <tr>
                <td>Jornada</td>
                <td>
                    {% if permission.activities_time == 'morning' %}
                        Mañana (permiso válido hasta las 13:30)
                    {% elif permission.activities_time == 'afternoon' %}
                        Tarde (permiso desde las 14:10)
                    {% endif %}
                </td>
            </tr>
            <tr>
                <td>Actividades</td>
                <td>
                    {% for activity in permission.activities_reference.all %}
                        {% if activity.course %}"{{ activity.course }}"{% endif %} {{ activity.name }} de {{ activity.date_time | time }} a {{ activity.ending_time | time }} horas en sala {{ activity.class_room }}
                        <br>
                    {% endfor %}

                </td>
            </tr>{% endcomment %}
        </tbody>
    </table>
    <div id="footer" class="center">
        <img src="{{ permission.qr_code.url }}" height="200px">
    </div>
</body>
</html>