{% extends 'core/base.html' %}
{% load static %}
{% block title %}Formulario estudiantes{% endblock %} 

{% block content %}
{% load crispy_forms_tags %}
<div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper" style="min-height: 100%;">
        <div id="content">
            <div class="container-fluid" style="padding-top: 30px;">
                <h3 class="text-dark mb-4">Solicitud de acceso al campus</h3>
                <form class="p-0 m-0" method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    <div class="form-row mb-3">
                        <div class="col">
                            <div class="form-row">
                                <div class="col-12 col-lg-6">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Información del Estudiante</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="form-row mb-4">
                                                    <div class="col">
                                                        {{ profile_form.nombre|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="form-row mb-3">
                                                    <div class="col">
                                                        {{ profile_form.apellido|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="form-row mb-3">
                                                    <div class="col">
                                                        {{ profile_form.rut|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Información de Contacto</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="form-row mb-3">
                                                    <div class="col-sm-12 col-md-6">
                                                        {{ profile_form.email|as_crispy_field }}
                                                    </div>
                                                    <div class="col-sm-12 col-md-6">
                                                        {{ profile_form.telefono|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Antecedentes Académicos</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="form-row mb-3">
                                                    <div class="col">
                                                        {{ education_form.facultad|as_crispy_field }}
                                                    </div>
                                                </div>
                                                <div class="form-row mb-3">
                                                    <div class="col">
                                                        {{ education_form.carrera|as_crispy_field }}
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Eventos Programados</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="form-row">
                                                    <div class="col">
                                                        <div class="form-row mb-5">
                                                            <div class="col">
                                                                <div class="table-responsive">
                                                                    <table class="table table-borderless">
                                                                        <thead>
                                                                            <tr>
                                                                                <th scope="col"><i class="fas fa-calendar-alt"></i></th>
                                                                                <th scope="col">Fecha</th>
                                                                                <th scope="col">Inicio</th>
                                                                                <th scope="col">Término</th>
                                                                                <th scope="col">Asignatura</th>
                                                                                <th scope="col">Facultad</th>
                                                                                <th scope="col">Carrera</th>
                                                                                <th scope="col">Aula</th>
                                                                                <th scope="col">Docente</th>
                                                                            </tr>
                                                                        </thead>
                                                                        <tbody>
                                                                            {% for events in events_forty_eigth %}
                                                                                <tr>
                                                                                    <td><input type="checkbox" id="name" name="name[]" value="{{ events.id }}"></td>
                                                                                    <td>{{ events.fecha|date:"SHORT_DATE_FORMAT" }}</td>
                                                                                    <td>{{ events.hora_inicio }}</td>
                                                                                    <td>{{ events.hora_fin }}</td>
                                                                                    <td>{{ events.asignatura }}</td>
                                                                                    <td>{{ events.facultad }}</td>
                                                                                    <td>{{ events.carrera }}</td>
                                                                                    <td>{{ events.aula }}</td>
                                                                                    <td>{{ events.docente }}</td>
                                                                                </tr>
                                                                            {% endfor %}
                                                                        </tbody>
                                                                    </table>
                                                                </div> 
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col-12">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Antecedentes de Salud</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="form-row">
                                                    <div class="col-md-9 mx-auto">
                                                        <div class="form-row mb-5">
                                                            <div>
                                                                <label class="col-form-label" style="width: 100%;" for="contact_has_been_made">¿HA SIDO CONTACTO ESTRECHO DE UNA PERSONA ENFERMA O SOSPECHOSA DE CORONAVIRUS (COVID-19), LOS ÚLTIMOS 14 DÍAS?<br></label>
                                                            </div>
                                                            <div class="col-md-6 mx-auto">
                                                                <div class="form-check">
                                                                    {{ statement_form.contacto_estrecho|as_crispy_field }}     
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="form-row mb-3">
                                                            <div class="col-sm-12 col-md-6" style="margin-bottom: 16px;">
                                                                <label style="width: 100%;"><strong>¿Ha presentado alguno de estos síntomas cardinales?</strong></label>
                                                                {{ statement_form.sintoma_fiebre|as_crispy_field }}
                                                                {{ statement_form.sintoma_perdida_olfato|as_crispy_field }}
                                                                {{ statement_form.sintoma_perdida_gusto|as_crispy_field }}
                                                            </div>
                                                            <div class="col">
                                                                <label style="width: 100%;"><strong>¿Ha presentado alguno de estos síntomas no cardinales?</strong></label>
                                                                {{ statement_form.sintoma_tos|as_crispy_field }}
                                                                {{ statement_form.sintoma_dolor_garganta|as_crispy_field }}
                                                                {{ statement_form.sintoma_secrecion_nasal|as_crispy_field }}
                                                                {{ statement_form.sintoma_respiratorio|as_crispy_field }}
                                                                {{ statement_form.sintoma_aumento_frecuencia|as_crispy_field }}
                                                                {{ statement_form.sintoma_dolor_toracico|as_crispy_field }}
                                                                {{ statement_form.sintoma_dolor_muscular|as_crispy_field }}
                                                                {{ statement_form.sintoma_dolor_cabeza|as_crispy_field }}
                                                                {{ statement_form.sintoma_fatiga|as_crispy_field }}
                                                                {{ statement_form.sintoma_escalofrios|as_crispy_field }}
                                                                {{ statement_form.sintoma_diarrea|as_crispy_field }}
                                                                {{ statement_form.sintoma_nausea_vomitos|as_crispy_field }}
                                                            </div>
                                                            <div class="col-12">
                                                                <div class="form-group">
                                                                    {{ statement_form.sintoma_otro|as_crispy_field }}
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-row">
                                <div class="col">
                                    <div class="card shadow mb-3">
                                        <div class="card-header py-3">
                                            <p class="text-primary m-0 font-weight-bold">Declaración Personal de Salud Idónea</p>
                                        </div>
                                        <div class="card-body">
                                            <div class="container-fluid">
                                                <div class="form-row mb-3">
                                                    <div class="col-12">
                                                        <div class="form-check">
                                                            {{ statement_form.declaracion_confirmar|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row mb-3">
                                                    <div class="col-12">
                                                        <a target="_blank" href="#">Plantilla de documento</a><br>
                                                        <a target="_blank" href="#"></a>
                                                        <br>
                                                        <div class="form-group">
                                                            {{ statement_form.declaracion_archivo|as_crispy_field }}
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="form-row text-right mb-3">
                                                    <div class="col">
                                                        <button class="btn btn-primary text-white btn-user" type="submit">Enviar</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <footer class="sticky-footer">
            <div class="container my-auto">
                <div class="text-center my-auto copyright"><span>Copyright © UnACh 2021</span></div>
            </div>
        </footer>
    </div>
</div>
    <script src="{% static 'core/js/jquery-3.6.0.min.js' %}"></script>
    <script type="application/javascript">
 $(document).ready(function() {
     facultades = $("select[id='id_facultad']").children()
     facultades.on('click', (e) => {
         carreras = $("select[id='id_carrera']").children()
         if (e.currentTarget.value == 1) {

         }
         if (e.currentTarget.value == 2) {
             console.log('entro a teologia')
              carreras.each(function(a) {
                if (a != 10) {
                    carreras[a].hidden = true
                }
            })
         }
         if (e.currentTarget.value == 3) {

         }
         if (e.currentTarget.value == 4) {

         }
     })
 })
    </script>
{% endblock %}