{% extends 'core/base.html' %}
{% load static %}
{% block title %}Obtener permiso de acceso{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-9 col-lg-12 col-xl-10">
            <div class="card shadow-lg o-hidden border-0 my-5">
                <div class="card-body p-0">
                    <div class="row">
                        <div class="col-12 col-lg-6 d-flex" style="min-height: 190px;">
                            <div class="flex-grow-1" style="background: url(&quot;{% static 'core/img/logos/unach.png' %}&quot;) center / contain no-repeat;">
                            </div>
                        </div>
                        <div class="col-12 col-lg-6">
                            <div class="p-5">
                                <div class="text-center">
                                    <h4 class="text-dark">Pase Seguro Unach</h4>
                                </div>
                                <form class="user">
                                    <div style="margin-top: 50px;">
                                        <button class="btn btn-primary btn-block text-white text-uppercase btn-user" type="submit">Estudiantes</button>
                                        <button class="btn btn-primary btn-block text-white text-uppercase btn-user" type="submit">Visitantes</button>
                                        <button class="btn btn-primary btn-block text-white btn-user" type="submit">Completar formulario</button>
                                        <div class="text-center mt-3">
                                            <div class="small">
                                                Si tienes problemas para acceder al pase seguro, comunícate con tu director de carrera
                                            </div>
                                        </div>
                                        <hr style="margin-top: 50px;">
                                        <a class="btn btn-block text-white btn-user" style="background: var(--secondary);margin-top: 20px;" 
                                            href="{% url 'safepass:check' %}">Verificar permiso</a>
                                    </div>
                                    <div class="text-center mt-3">
                                        <a class="small" href="{% url 'admin:index' %}">Usuario Registrado</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}